body {
  background-color: #fdf6ec;
  font-family: Arial, sans-serif;
  text-align: center;
}

.heading {
  color: darkred;
  font-size: 40px;
}

.subheading {
  color: brown;
  font-size: 25px;
}

/* Table Styling */
.menu-table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
  background-color: white;
}

.menu-table th {
  background-color: darkred;
  color: white;
  padding: 15px;
}

.menu-table td {
  border: 1px solid black;
  padding: 12px;
}

/* Hover Effect */
.menu-table tr:hover {
  background-color: #ffe0c1;
}


/* Navigation Bar Styling */
.navbar {
  background-color: darkred;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
  display: inline-block;
}

.navbar a:hover {
  background-color: orange;
  color: black;
  border-radius: 5px;
}

/* Contact Form Styling */
.contact-form {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 2px solid darkred;
  border-radius: 10px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
}

.contact-form input[type="submit"] {
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.contact-form input[type="submit"]:hover {
  background-color: orange;
  color: black;
}


/* Logo Area */
.logo-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

/* Banner */
.banner img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-radius: 10px;
}

/* Section Styling */
.section {
  padding: 30px;
  text-align: center;
}

/* Food Cards */
.food-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: white;
  border: 2px solid darkred;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 130px;
  border-radius: 10px;
}

.card h3 {
  margin-top: 10px;
  color: darkred;
}

/* Footer */
.footer {
  background-color: darkred;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
}


.navbar {
  background-color: #8B0000;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: yellow;
}

.gallery-buttons {
  margin-top: 40px;
}

.btn {
  display: inline-block;
  background-color: darkred;
  color: white;
  padding: 12px 25px;
  margin: 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
}

.btn:hover {
  background-color: orange;
  color: black;
}
